In [1]:
import pandas as pd

In [2]:
first=pd.read_csv('/Volumes/T7/chroniclingamerica/american-stories/kkk-first-new.csv')
second=pd.read_csv('/Volumes/T7/chroniclingamerica/american-stories/kkk-second-new.csv')
between=pd.read_csv('/Volumes/T7/chroniclingamerica/american-stories/kkk-between-new.csv')
klan_paper=pd.read_excel('VRT - White Surpremacist Newspapers to Investigate.xlsx')
african_paper=pd.read_csv('african-american.csv')
klan_paper=klan_paper.rename(columns={'ID':'sn'})

In [3]:
print(first.shape, second.shape, between.shape)

(643, 5) (19781, 5) (12419, 5)

In [4]:
regex_pattern_klan = r'^(?:[^_]*_){3}([^_]+)'
regex_pattern_african = r'/lccn/([^/]+)'
second['sn']=second['index'].str.extract(regex_pattern_klan)
between['sn']=second['index'].str.extract(regex_pattern_klan)
african_paper['sn']=african_paper['series'].str.extract(regex_pattern_african)

In [5]:
merge_klan_second=pd.merge(
    second,
    klan_paper,
    how="inner",
    on='sn')
print(merge_klan_second.shape)

(73, 12)

In [6]:
merge_klan_second.groupby(by='sn').count()

,index,headline,newspaper_name,date,article,Newspaper Title,City,State,Dates,URL,Notes
sn,,,,,,,,,,,
sn89052197,15,9,15,15,15,15,15,15,15,15,15
sn90059391,45,36,45,45,45,45,45,45,45,45,0
sn90059426,13,12,13,13,13,13,13,13,13,13,0

In [7]:
merge_african_second=pd.merge(
    second,
    african_paper,
    how='inner',
    on='sn'
)
print(merge_african_second.shape)

(603, 7)

In [8]:
merge_african_second.groupby(by='sn').count()

            index  headline  newspaper_name  date  article  series
sn
sn83016810     13         9              13    13       13      13
sn83025514    189       153             189   189      189     189
sn83025803      3         3               3     3        3       3
sn84024055      9         7               9     9        9       9
sn84025815      8         6               8     8        8       8
sn84025887     16         8              16    16       16      16
sn85049804     30        20              30    30       30      30
sn86056950      3         2               3     3        3       3
sn90060427     11         7              11    11       11      11
sn90060931     66        63              66    66       66      66
sn90060932     23        20              23    23       23      23
sn92050012      4         3               4     4        4       4
sn92072999      1         1               1     1        1       1
sn93062828      5         4               5     5        5       5
sn95060626      8         3               8     8        8       8
sn96060866     11         9              11    11       11      11
sn96060881    203       176             203   203      203     203

In [9]:
merge_klan_between=pd.merge(
    between,
    klan_paper,
    how="inner",
    on='sn')
print(merge_klan_between.shape)

(46, 12)

In [10]:
merge_klan_between.groupby(by='sn').count()

,index,headline,newspaper_name,date,article,Newspaper Title,City,State,Dates,URL,Notes
sn,,,,,,,,,,,
sn89052197,15,12,15,15,15,15,15,15,15,15,15
sn90059391,18,12,18,18,18,18,18,18,18,18,0
sn90059426,13,11,13,13,13,13,13,13,13,13,0

In [11]:
merge_african_between=pd.merge(
    between,
    african_paper,
    how="inner",
    on='sn')
print(merge_african_between.shape)

(517, 7)

In [12]:
merge_african_between.groupby(by='sn').count()

            index  headline  newspaper_name  date  article  series
sn
sn83016810     13        11              13    13       13      13
sn83025514    175       117             175   175      175     175
sn83025803      3         2               3     3        3       3
sn84024055      9         7               9     9        9       9
sn84025815      3         3               3     3        3       3
sn84025887     16        13              16    16       16      16
sn85049804     30        26              30    30       30      30
sn86056950      3         2               3     3        3       3
sn90060427     11         9              11    11       11      11
sn90060931     66        46              66    66       66      66
sn90060932      2         1               2     2        2       2
sn92050012      3         2               3     3        3       3
sn96060881    183       125             183   183      183     183

In [13]:
merge_klan_between['article']

0     uel. near Easton, was destroyed by FIRE las\n\...
1     In addition To the regular programme there Wil...
2     An American who wishes to pass for an |\nEngli...
3     One Negro Shot Dead, Two Wounded and\n\n Three...
4     On Monday, the 9Th instant, the\nHobson Bros, ...
5     He Seems to Find Satisfaction In snatch-\n\n i...
6     Mir Parker Hicks and family of Hart ford, are ...
7     Minute Delay At the Post-He IL Cut Down\nNear ...
8     Union City, Tenn, March 1.-The leg islative co...
9     Though he told6 ' sensational story Of being h...
10    Tampa, Fla, March 20.-Only two favor ties were...
11    Washington, May 14.-President Taft to- day rem...
12    Byron Bouchelle. of Chesapeake\nCity, is candi...
13    Henderson. Ky. July The first ar\nrest in conj...
14    whole field was SO still that he could\nhear t...
15    At the request OF many persons the\nchoir OF B...
16    COMING ATTRACTIONS.\n\n\nThe temperance in Was...
17    c. Bud" Mortimer, an aged plan\nter residing s...
18    \n\n\nNEW ORLEANS. La, Marcn 10\nThe final ses...
19    language. In fact Fort. he generally uses a sh...
20    Union City, Tenn, October 29.-Tod" Burton, acc...
21    Camp Memo. Reelfoot Lake. Tenn, De- tober 29.-...
22    \n\n Union Citys Tenn, Dec. 2e.-rhat the prose...
23    The resumption of industrial and\ncommercial a...
24    rage l. Bryan campaigns in New York city. Nigh...
25     1 Burton, self confessed night rider, told re...
26    J. T. Griffin went to Noah Ok, last Tuesday.\n...
27    Paduesh Ky. April 4.-Henry Jackson,\nhis wife ...
28    Services In Eastlake NJ. E. Church\ntomorrow w...
29    more to run and not as much money\nwas taken i...
30    j. Owen Freeman, Frank Nc\nLaws, Wilford Roger...
31    Herman Bryant Was taken TO Pu.\neblo hospital ...
32    offen a rock an got hurt. I lowed I'd fotch hi...
33    | ALABAMA BEFORE YOU RETURN\n\n\nTO THIS OFFIC...
34    and line enthusiasts who returned\nfrom Electr...
35    \n\n\nPittsfield. Mass, March 29.-The TIL\nden...
36    -N4AShINoToN, Oct. 22.-Ths\n\n\nDc)ferenee rep...
37    Take all possible steps to defeat the\nBen joh...
38    At Boston James A. Galligan,\nDemocrat, was el...
39    The Royals probably make up one or\nthe speedi...
40    Henry Walthall and Fred Burns, as commanders o...
41    be given to the lone. bidder or new proposals ...
42    When Smith purchased a bicycle, Jones.\nhis ne...
43    ing to breed will please call and see him for ...
44    We don't always do as we are told,\n\n but whe...
45    old man broke out in evaporation that threaten...
Name: article, dtype: object

In [14]:
from top2vec import Top2Vec
from tqdm import tqdm
import nltk
stop=nltk.corpus.stopwords.words('english')
import spacy
nlp=spacy.load('en_core_web_sm')
from nltk import word_tokenize

/Users/mstudio/miniconda3/envs/py3.10/lib/python3.10/site-packages/umap/distances.py:1063: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Users/mstudio/miniconda3/envs/py3.10/lib/python3.10/site-packages/umap/distances.py:1071: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Users/mstudio/miniconda3/envs/py3.10/lib/python3.10/site-packages/umap/distances.py:1086: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()
/Users/mstudio/miniconda3/envs/py3.10/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/Users/mstudio/miniconda3/envs/py3.10/lib/python3.10/site-packages/umap/umap_.py:660: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @numba.jit()

In [20]:
def lemmatization(dataframe:pd.DataFrame()):
    dataframe['article']=dataframe['article'].str.lower()
    dataframe['stopword']=dataframe['article'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
    dataframe['punct']=dataframe['stopword'].str.replace('[^\w\s]','')
    dataframe['lemma']=dataframe['punct'].apply(lambda row: ' '.join([w.lemma_ for w in nlp(row)]))
    dataframe['token']=dataframe['lemma'].apply(word_tokenize)
    return dataframe

In [32]:
merge_african_second_lemma=lemmatization(merge_african_second)

In [39]:
model=Top2Vec(documents=merge_african_second['lemma'].tolist(), speed='learn', workers=4)

2023-10-09 10:49:56,894 - top2vec - INFO - Pre-processing documents for training
2023-10-09 10:49:57,002 - top2vec - INFO - Creating joint document/word embedding
2023-10-09 10:49:58,238 - top2vec - INFO - Creating lower dimension embedding of documents
2023-10-09 10:49:59,383 - top2vec - INFO - Finding dense areas of documents
2023-10-09 10:49:59,390 - top2vec - INFO - Finding topics

In [40]:
topic_sizes, topic_nums = model.get_topic_sizes()

In [41]:
print(len(topic_sizes), len(topic_nums))

2 2

In [42]:
id_dic={}
topic_id={}
for element in zip(topic_nums, topic_sizes):
    documents, document_scores, document_ids = model.search_documents_by_topic(topic_num=element[0], num_docs=element[1])
    for score, id in zip(document_scores, document_ids):
        id_dic[id]=score
        topic_id[id]=element[0]

In [43]:
topic_words, word_scores, topic_scores = model.get_topics(len(topic_sizes))

In [44]:
topic_words

array([['hand', 'effort', 'ing', 'begin', 'bring', 'here', 'hall', 'far',
        'membership', 'georgia', 'bear', 'high', 'al', 'local', 'be',
        'great', 'five', 'we', 'paper', 'long', 'power', 'country', 'go',
        'en', 'tell', 'thousand', 'let', 'press', 'every', 'north',
        'speak', 'become', 'religious', 'woman', 'justice', 'he', 'they',
        'officer', 'recent', 'find', 'think', 'way', 'ever', 'come',
        'person', 'de', 'it', 'attack', 'end', 'place'],
       ['new', 'york', 'khan', 'bill', 'advancement', 'states',
        'committee', 'lynching', 'senator', 'colored', 'anti', 'klan',
        'association', 'wizard', 'imperial', 'case', 'report', 'accord',
        'republican', 'city', 'john', 'color', 'charge', 'party',
        'united', 'oppose', 'organization', 'democratic', 'johnson',
        'birth', 'federal', 'statement', 'result', 'ment', 'jury',
        'american', 'con', 'official', 'believe', 'give', 'district',
        'state', 'denver', 'klansman', 'ku', 'declare', 'recently',
        'three', 'mean', 'mayor']], dtype='<U12')